In [1]:
pwd

'C:\\Users\\Brothers\\Desktop\\python\\ongoing_project\\MY STUFF\\Classic Machine Learning'

In [1]:
import pandas as pd

import nltk

nltk.download('wordnet')

In [2]:
data = pd.read_csv('yelp.csv')

In [3]:
data.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,26-01-2011,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,27-07-2011,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,14-06-2012,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,27-05-2010,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,05-01-2012,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
business_id    10000 non-null object
date           10000 non-null object
review_id      10000 non-null object
stars          10000 non-null int64
text           10000 non-null object
type           10000 non-null object
user_id        10000 non-null object
cool           10000 non-null int64
useful         10000 non-null int64
funny          10000 non-null int64
dtypes: int64(4), object(6)
memory usage: 781.3+ KB

In [5]:
df = data[['text', 'stars']]

In [278]:
df = data[(data.stars==1)|(data.stars==5)]

df.text

In [280]:
x = df.text
y = df.stars

In [282]:
from sklearn.model_selection import train_test_split

In [283]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, random_state=1)

In [284]:
from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer

In [285]:
lm = WordNetLemmatizer()

In [286]:
def lem(x):
    return lm.lemmatize(x)
xtrain = xtrain.apply(lem)
xtest = xtest.apply(lem)

In [287]:
import re

any([re.search('\w*[0-9]\w*', 'sdf sdfs 2323sd')])

a = 'hjghkj ewrwrwe 3wew4'
if any([re.search('\w*[0-9]\w*', a)]):
    print(re.search('\w*[0-9]\w*', a).group())

In [302]:
def rem(x):
    if (any([re.search('\w*[0-9]\w*', x)])):
#         print(x)
        try:
            sub = re.search('\w*[0-9]\w*', a).group()
        except:
            return x
        else:
            return x.replace(sub, '')
    else: return x

In [303]:
traindfx = xtrain.apply(rem)
testdfx = xtest.apply(rem)

In [304]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [339]:
def vectoriser(ngram, min_df=1):
    global trainx, testx
    vect = CountVectorizer(stop_words='english', lowercase=True, ngram_range=ngram, min_df=min_df)
    trainx = vect.fit_transform(traindfx)
    print(trainx.shape)
    testx = vect.transform(testdfx)
#     print(vect.get_feature_names()[-100:])

In [360]:
ngram = (1,2)
mindf = 2
vectoriser(ngram, mindf)

(3064, 21629)

In [361]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
model = MultinomialNB()
# model = SVC()
# model = LogisticRegression()

model.fit(trainx, ytrain)

print()
print()
print(model.score(testx, ytest))

0.9246575342465754